
.maincontainer{
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;

}


.maincontainer .LeftDiv{
background-color: blue;
width: 60%;
background-image: url("../../pages/assets/images/lgbg.png");
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}


.maincontainer .LeftDiv .InfoDiv{
  width: 60%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.78);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.maincontainer .LeftDiv .InfoDiv .igihe{
  width: 80%;
  height: 20%;
  text-align: center;
}

.maincontainer .LeftDiv .InfoDiv .igihe h1{
  color: white;
  font-size: 40px;
}
.maincontainer .LeftDiv .InfoDiv .igihe h3{
  margin-top: 20px;
  color: white;
  font-weight: lighter;
  font-size: 35px;
}

.maincontainer .LeftDiv .InfoDiv .logodiv{
  background-color: white;
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv{
  width: 80%;
  height: 35%;
  display: flex;
  justify-content: space-around;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .tp{
  width: 100%;
  height: auto;
  text-align: center;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .tp h2{
  font-weight:200;
  color: white;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .md{
 background: rgb(0,163,255);
 background: linear-gradient(180deg, rgba(0,163,255,1) 0%, rgba(255,255,240,1) 100%);
 width: 100%;
 height: 60%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 15px;

}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .md h2{
  font-size: 75px;
  font-weight: 300;
  color: white;
}


.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .btm{
  width: 100%;
  height: auto;
  text-align: center;
}

.maincontainer .LeftDiv .InfoDiv .weatherDiv .lft .btm h2{
  font-weight:200;
  color: white;
}



.maincontainer .LeftDiv .InfoDiv .weatherDiv .rgt{
  background-color: rgb(255, 0, 166);
  height: 100%;
  width: 40%;
}









.maincontainer .RightDiv{
  background-color: white;
  width: 40%;
}