.container{
    width: 100%;
    height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .up{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;

}

.container .up .right{
flex: 1;
background-color: #f9f9f9;
}

.container .up .left{
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
}


.container .up .left .cont_summary{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container .up .left .cont_summary .repo{
    background-color: #fee3bf;
    width: 115px;
    height: 115px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.container .up .left  h2{
    font-size: 13pt;
    color: #00009e;
}

.container .up .left  h3{
    font-size: 10pt;
    font-weight: normal;
    margin-top: 5pt;
    margin-left: 2pt;
}

.container .up .left .cont_summary p{
    font-size: 10pt;
    font-weight: normal;
    color: #00009e;
    text-align: center;
}

.container .down{
    width: 100%;
    height: 50vh;
    flex: 3;
    display: flex;
}

.container .down .chart{
background-color: #ffeace;
margin-left: 10px;
height: 200px;
flex: 1;
border-radius: 10px;
padding: 5px;
}

.container .down .chart h2{
    font-size: 11pt;
    color: #00009e;
}