*{
  padding: 0px;
  margin: 0;
}


body {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Inter";
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00041f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066ba; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005a6e; 
}

